# functions

In [10]:
def fun():  # function definition
    print("hello piaic")

In [12]:
fun()

hello piaic

In [18]:
def calc():
    a=4
    b=5
    print(a+b)

In [19]:
calc()

9

In [20]:
def sumf(a,b): #parameter
    print(a+b)

In [21]:
sumf(2,3) #arguments

5

In [4]:
def calculator(a,b,c): #two numbers 1 operator
    if c=="+":
        print(a+b)
    elif c=="-":
        print(a-b)
    elif c=="/":
        print(a/b)
    elif c=="*":
        print(a*b)
    else:
        print("Invalid input")

In [6]:
calculator(2,3,'+')

5

In [44]:
calculator(int(input("enter num 1= ")),int(input("enter num 2 = ")),input("enter operator = "))

enter num 1= 3
enter num 2 =4
enter operator = +
7

In [52]:
cities=['karachi','lahore','multan']
def city(i):
    for x in i:
        print(x)

In [53]:
city(cities)

karachi
lahore
multan

In [60]:
num = [1,2,3,4,5,6,7,8,9]
def even(x):
    for i in x :
        if i%2==0:
            print(i)

In [61]:
even(num)

2
4
6
8

In [66]:
def abc(x,y):
    c=x+y
   
    return c
abc(2,4)

6

In [68]:
new=abc(2,4)
new

6

In [69]:
def abc(x,y):
    c=x+y
   
    return c

In [70]:
new=abc(2,4)
new

6

In [81]:
# discount calculator
def calc(x):
    if x>100:
        a=x+10
        return a
    elif x==100:
        b=x+5
        return b
    else:
        print("no discount")
        return c

In [82]:
calc(int(input("enter amount ")))

enter amount 100

105

In [84]:
def calc(x):
    if x>100:
        a=x+10
    elif x==100:
        a=x+5
    else:
        a= print("no discount")
    return a

In [85]:
calc(100)

105

In [86]:
calc(101)

111

In [90]:
calc(99)

no discount

In [ ]:
#positional argument

In [93]:

def full_name(fname,lname):
    print(f'my name is {fname} {lname}')

In [94]:
full_name('ali','ahmed')

my name is ali ahmed

# key word arguments

In [95]:
full_name(fname='ali',lname='ahmed')

my name is ali ahmed

In [96]:
def name(fname,lname,mname=''): #defult argument
    print(f'my name is {fname} {mname} {lname}')

In [97]:
name('ali','ahmed')

my name is ali  ahmed

In [98]:
name('ali','khan','ahmed')

my name is ali ahmed khan

In [99]:
def dic():
    new_dic={1:'karachi',2:'lahore',3:'quetta'}
    return new_dic

In [101]:
a=dic()
a

{1: 'karachi', 2: 'lahore', 3: 'quetta'}

In [102]:
a[3]

'quetta'

In [122]:
#write a function that takes two list as an argument
def list(list1,list2):
    list2.append(list1.pop())
    return list2

In [123]:
list(list1=[1,2,3],list2=[])

[3]

In [127]:
num1=[2,4,6,7,8]
num2=[]
def new_list(x,y):
    for i in x:
        y.append(x)
        return y

In [128]:
x=new_list(num1,num2)
print(x)

[[2, 4, 6, 7, 8]]