# LIST

In [9]:
var=['apple','banana']
type(var)                 #tells type of the list

list

In [15]:
alist=['karachi',11,12.34,True] #delete student 
alist
del alist[2] #permenet delete (delete by index) 
print(alist)

['karachi', 11, True]

In [19]:
alist.remove(True) #remove remove by value
alist

[11]

In [21]:
alist[0]='sindh'  # update
alist

['sindh']

In [4]:
city=[]

In [5]:
city.append('karachi')  #to append or add data
city

['karachi']

In [6]:
city.append('lahore')
city

['karachi', 'lahore']

In [7]:
city.insert(1,'multan')    #to insert on particular index
city

['karachi', 'multan', 'lahore']

In [8]:
city.insert(20,'quetta')  #to insert on particular index
city

['karachi', 'multan', 'lahore', 'quetta']

In [9]:
city.index('quetta') #to find index

3

In [10]:
city.index('multan',1)
city

['karachi', 'multan', 'lahore', 'quetta']

In [35]:
len(city)  #length of the list

7

In [37]:
city.clear() # clear the list

In [38]:
sortlist=[2,5,6,8,11,9,3]
sortlist.sort()   # sort in assending order
sortlist

[2, 3, 5, 6, 8, 9, 11]

In [39]:
sortlist.sort(reverse=True)     #sort in descening order
sortlist

[11, 9, 8, 6, 5, 3, 2]

In [40]:
alist=['a','b','c','d']
alist.reverse()     #reverse the list 
alist

['d', 'c', 'b', 'a']

In [1]:
numbers = [2,6,4,3,8,7,1]
numbers.index(4,1)

2

In [52]:
k=numbers   #copy of the list (copy the reference)
k           #point the refference

[2, 6, 4, 3, 8, 7, 1]

In [53]:
numbers.append(100)

In [54]:
numbers

[2, 6, 4, 3, 8, 7, 1, 100]

In [55]:
k

[2, 6, 4, 3, 8, 7, 1, 100]

In [56]:
k.append(200)

In [57]:
numbers

[2, 6, 4, 3, 8, 7, 1, 100, 200]

In [58]:
a=numbers.copy()  #copy the values

In [59]:
a

[2, 6, 4, 3, 8, 7, 1, 100, 200]

In [60]:
numbers.append(221)

In [61]:
a

[2, 6, 4, 3, 8, 7, 1, 100, 200]

In [62]:
b=a[:]

In [63]:
b

[2, 6, 4, 3, 8, 7, 1, 100, 200]

# List into List

In [70]:
list1=[1,2,3,4,5,['apple','oranges','mango'],'students']
#index 0 1 2 3 4   5                            6
list1

[1, 2, 3, 4, 5, ['apple', 'oranges', 'mango'], 'students']

In [65]:
list1[5]

['apple', 'oranges', 'mango']

In [68]:
list1[5][2] # for specific value in second list

'mango'

In [71]:
list1=[1,2,3,4,5,['apple','oranges','mango'],a] # add a as second list

In [72]:
list1

[1, 2, 3, 4, 5, ['apple', 'oranges', 'mango'], [2, 6, 4, 3, 8, 7, 1, 100, 200]]

In [74]:
list1[6][2]

4

In [75]:
list1[6].insert(1,"ab") #insert in list

In [77]:
list1

[1,
 2,
 3,
 4,
 5,
 ['apple', 'oranges', 'mango'],
 [2, 'ab', 6, 4, 3, 8, 7, 1, 100, 200]]

In [78]:
list1[6].remove('ab')   #delete from list

In [79]:
list1

[1, 2, 3, 4, 5, ['apple', 'oranges', 'mango'], [2, 6, 4, 3, 8, 7, 1, 100, 200]]

In [80]:
4 in list1  # check wheather the member is in the list or not

True

In [82]:
 'mango' in list1[5]

True

In [86]:
list1.index(5)

4

In [88]:
list1[5].index("mango")

2

# Slicing

In [89]:
list2=['a','c','d','e','f']
list2

['a', 'c', 'd', 'e', 'f']

In [90]:
list2[2:5]

['d', 'e', 'f']

In [93]:
s=list2[2:5]

In [94]:
s

['d', 'e', 'f']

In [95]:
list2[2:4] # last limit will not be in the output -1

['d', 'e']

In [96]:
list2[2:]

['d', 'e', 'f']

In [97]:
list2[:]

['a', 'c', 'd', 'e', 'f']

# Negative indexing

In [98]:
list3=['apple','banana','oranges','grapes','melon']
#index   -5      -4        -3       -2       -1

In [99]:
list3[-1]

'melon'

In [100]:
list3[-4]

'banana'

In [101]:
list3[-5:-3]

['apple', 'banana']

In [102]:
list3[-5:]

['apple', 'banana', 'oranges', 'grapes', 'melon']

In [104]:
list3[-4:3]

['banana', 'oranges']

In [106]:
list3[-4:4]

['banana', 'oranges', 'grapes']

In [107]:
list3[-4:1]

[]

# Popping

In [14]:
list4=['asad','hamza','ali'] #lifo 
a=list4.pop()
print(a)
print(list4)

ali
['asad', 'hamza']

In [15]:
a=list4.pop(0) #pop by index
list4

['hamza']

In [16]:
a

'asad'

In [17]:
list5=['asad','hamza','ali','asad','saad']

In [26]:
poppedvalue=list5.pop()
list5

['asad']

In [21]:
poppedvalue

'ali'

In [27]:
poppedlist=[]
poppedlist.append(poppedvalue)

In [28]:
print(list5)
poppedlist

['asad']

['hamza']

assignment:
task finished or not by using pop
or check it if it is completed than send it to complete task list using pop

In [32]:
list6=['asad','hamza','ali','asad','saad']

popvalue=list6.pop()

list6

['asad', 'hamza', 'ali', 'asad']

In [33]:
list7=[]
list7.append(popvalue)

In [34]:
print(list6)
print(list7)

['asad', 'hamza', 'ali', 'asad']
['saad']

In [5]:
dailytask=['awake','assignment','prayer','recite','Quran','call','aftar','taravee']
emptylist=[]
task=input("enter tasks ")
if task in dailytask:
    index=dailytask.index(task)
    dailytask.pop(index)
    emptylist.append(task)
    if len(dailytask) <0:
        print("list is empty")
    else:
        print(emptylist) 
else:
    print("task is not in list")

enter tasks assignment
['assignment']