In [2]:
import math
x=math.pi
print(x)

3.141592653589793

In [5]:
x=math.pow(3,3)

In [6]:
print(x)

27.0

In [7]:
x=math.ceil(23.444)

In [8]:
print(x)

24

In [9]:
x=math.floor(23.777)

In [10]:
x

23

In [12]:
math.fabs(-4.2)   #give absolute value

4.2

In [13]:
math.factorial(5)

120

In [15]:
math.fmod(10,3)  #return modulus

1.0

In [17]:
math.fsum([1,2,3,4,4,5,6])  #return the sum

25.0

In [18]:
math.modf(5.2) # return decimal and and num individually

(0.20000000000000018, 5.0)

In [19]:
math.floor(5.6)

5

In [20]:
math.trunc(5.6)

5

In [23]:
import random

In [38]:
random.randint(0,10) # 10 is included

8

In [54]:
random.randrange(0,10) # 10 is not included

9

In [57]:
random.random()  # generate random values in between 0 to 1

0.7784236257729293

In [58]:
random.seed(2)

In [59]:
random.randint(0,10)

0

In [61]:
random.seed(2)          #seed lock the value 
random.randint(0,10)

0

In [83]:
x=[1,2,3,4,5,6,7]       #return random 2 values 
random.sample(x,2)

[2, 3]

In [89]:
random.shuffle(x)

In [90]:
x

[6, 3, 7, 2, 5, 1, 4]

In [91]:
import datetime

In [92]:
date= datetime.datetime(2019,6,1)

In [93]:
date

datetime.datetime(2019, 6, 1, 0, 0)

In [94]:
date.year

2019

In [95]:
date.month

6

In [97]:
date.strftime(date,%Y)

SyntaxError: invalid syntax (<ipython-input-97-d6ceb0515569>, line 1)

In [99]:
x=datetime.datetime.now()

In [100]:
x

datetime.datetime(2019, 7, 28, 17, 23, 3, 418698)

In [101]:
print(x.strftime("%A"))

Sunday

In [102]:
print(x.strftime("%a"))

Sun

In [103]:
print(x.strftime("%d"))

28

In [104]:
print(x.strftime("%D"))

07/28/19

In [105]:
print(x.strftime("%A,%d,%B"))

Sunday,28,July

In [106]:
print(x.strftime("%A,%d,%B,%y"))

Sunday,28,July,19

In [107]:
print(x.strftime("%A,%d,%b"))

Sunday,28,Jul

In [109]:
y=50
txt='the price of y is {} dollars'.format(y)
print(txt)

the price of y is 50 dollars

In [110]:
y=50
txt='the price of y is {:.2f} dollars'.format(y)
print(txt)

the price of y is 50.00 dollars

In [111]:
y=50
txt='the price of y is {:.5f} dollars'.format(y)
print(txt)

the price of y is 50.00000 dollars