# 12/5/2019

In [3]:
print("abc")#string

abc

In [4]:
print(123)#int

123

In [5]:
print(20.3)#float

20.3

In [6]:
print(True)#boolean

True

In [7]:
print(123,1.23,'hello',False)#check the signature press shift tab , commas tell that 1 value end and

123 1.23 hello False

In [12]:
print(123,1.23,'hello',False,sep='=') #'sep='' seperator

123=1.23=hello=False

In [13]:
print('hello world')
print('hello python')

hello world
hello python

In [1]:
print('hello world',end = ' ')
print('hello python')

hello world hello python

In [15]:
print('hello world',end ='\t')
print('hello python')

hello world	hello python

In [17]:
print('hello world',end ='\t\t')
print('hello python')

hello world		hello python

In [18]:
#search all escape character of python and have to implement them as well

In [19]:
age= 20
print (age)

20

In [20]:

result =True 
print (result)

True

In [22]:
x=4
y=6
z=x+y
print(z)

10

In [23]:
a=4
b=3.5
c=a+b
print(c)

7.5

In [24]:
a=5
b=4
print(a/b) #division by default float in python

1.25

In [25]:
print(a//b)

1

In [27]:
round((10/3),3) # tells the decimal places

3.333

In [2]:
print('apple '*5)

apple apple apple apple apple

# Concatenation

In [30]:
a='10'
b='20'
a+b

'1020'

In [31]:
type(a) #tell the data type

str

In [32]:
age='10'
name='ahmed'
print('my name is',name,'and age is',age)

my name is ahmed and age is 10

In [38]:
age=input('what is your age?')
name=input('what is your name?')
print('my name is '+name+' and my age is '+ age)

what is your age?21
what is your name?abc
my name is abc and my age is 21

In [3]:
x= input()
type(x)

20

str

In [37]:
x=int(input()) #type casting
type(x)

21

int

In [40]:
age=int(input('what is your age?'))
name=input('what is your name?')
print('my name is '+name+' and my age is '+ str(age))

what is your age?21
what is your name?abc
my name is abc and my age is 21

In [41]:
#{}place holders 
# no need to use type casting again and again using use .format()

name=input('what is your name?')

age=int(input('what is your age?'))


print('my name is {} and my age is {}'.format(name,age) )

what is your name?abc
what is your age?21
my name is abc and my age is 21

In [42]:
#position 

name=input('what is your name?')

age=int(input('what is your age?'))


print('my name is {1} and my age is {0}'.format(name,age) )

what is your name?abc
what is your age?21
my name is 21 and my age is abc

In [44]:
# use f syntex 
name=input('what is your name?')

age=int(input('what is your age?'))

print(f'my name is {name} and my age is {age}')

what is your name?abc
what is your age?21
my name is abc and my age is 21

Practice

In [10]:
name=input('what is your name?')

age=int(input('what is your age?'))

print("my name is "+name+" my age is "+str(age))

what is your name?abc
what is your age?21
my name is abc my age is 21

In [11]:
name=input('what is your name?')

age=int(input('what is your age?'))

print('my name is {} and my age is {}'.format(name,age) )

what is your name?abc
what is your age?21
my name is abc and my age is 21

In [12]:
name=input('what is your name?')

age=int(input('what is your age?'))

print(f'my name is {name} and my age is {age}')

what is your name?abc
what is your age?21
my name is abc and my age is 21

In [13]:
print('CALCULATOR')
a=int(input('enter no 1 '))
b=int(input('enter no 2 '))
print("press 1 for additon ")
print('press 2 for multiplication')
print('press 3 for division')
c=int(input('input operations '))
if c == 1: 
 print("addition = ",a+b)
elif c == 2:
 print("multiplication ",a*b)
else:
 print("division ",round((a/b),2))

CALCULATOR
enter no 1 10
enter no 2 2
press 1 for additon
press 2 for multiplication
press 3 for division
input operations 3
division  5.0

In [14]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [33]:
fruit=['apple','banana','mango']
for x in fruit:
 print(x)
 if x == 'banana':
     continue

apple
banana
mango