# Tupple

In [1]:
tupple=(12,13,14,'abc','xyz')
tupple

(12, 13, 14, 'abc', 'xyz')

In [2]:
tupple[3]

'abc'

In [3]:
tupple[3]='abc' #update not possible in tupple

TypeError: 'tuple' object does not support item assignment

In [14]:
city='khi','lhr','khi' #automatically covert it into tupple

In [15]:
city

('khi', 'lhr', 'khi')

In [16]:
city1=('ás','saad')

In [17]:
city=city+city1

In [18]:
city.

('khi', 'lhr', 'khi', 'ás', 'saad')

In [19]:
city.count('khi') #how many times a value occurs

2

In [20]:
city.index('khi',2) #press tab to open suggestion

2

In [21]:
square=(12,16)   #packing

In [1]:
2,b=square       #unpacking

SyntaxError: can't assign to literal (<ipython-input-1-880b1dfe86f5>, line 1)

In [23]:
l

12

In [24]:
b

16

In [25]:
listing=[111,222,333]

In [26]:
a,b,c=listing

In [27]:
print(a , b ,  c)

111 222 333

slicing home work

# for loop

In [35]:
for i in range(10):
    print(i,'hellow world')

0 hellow world
1 hellow world
2 hellow world
3 hellow world
4 hellow world
5 hellow world
6 hellow world
7 hellow world
8 hellow world
9 hellow world

In [37]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [39]:
for i in range(1,10):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9

In [41]:
for i in range(0,10,2):
    print(i, end=' ')          #range(start,end,step)

0 2 4 6 8

In [42]:
for i in range(20,0,-1):
    print(i, end=' ')

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [44]:
for num in [1,2,3,4,5,6,7,8]:
    print(f'the number i list is {num}')

the number i list is 1
the number i list is 2
the number i list is 3
the number i list is 4
the number i list is 5
the number i list is 6
the number i list is 7
the number i list is 8

In [46]:
students=['a','b','c','d','e']
for mem in students:
    print(mem)

a
b
c
d
e

In [48]:
for character in 'pakistan zindabad':
    print(character)

p
a
k
i
s
t
a
n

z
i
n
d
a
b
a
d

In [55]:
for a in range(1,10):
   
    if a%2==0:
        print(a)
        continue

2
4
6
8

In [59]:
for a in range(1,10):
   
    if a==4:
        continue
    print(a)

1
2
3
5
6
7
8
9

In [60]:
for a in range(1,10):
   
    if a==4:
        break
    print(a)

1
2
3

In [62]:
for a in range(1,10):
   
    if a==4 or a==6:
        continue
    print(a)

1
2
3
5
7
8
9

In [63]:
friends=['asad','amir','fahad','saad','faisal','ali']

for friend in friends:
    if friend !="saad":
        print(f"welcome to party {friend}")
    else:
        print(f"party is over {friend}")
        continue

welcome to party asad
welcome to party amir
welcome to party fahad
party is over saad
welcome to party faisal
welcome to party ali

In [64]:
friends=['asad','amir','fahad','saad','faisal','ali']

for friend in friends:
    if friend !="saad":
        print(f"welcome to party {friend}")
    else:
        print(f"party is over {friend}")
        break

welcome to party asad
welcome to party amir
welcome to party fahad
party is over saad

# Nested for loop

In [65]:
fnames=['nasir','asad','kamran']
lnames=['hussain','amin','fazal']

for fname in fnames:
    for lname in lnames:
        print(fname,lname)

nasir hussain
nasir amin
nasir fazal
asad hussain
asad amin
asad fazal
kamran hussain
kamran amin
kamran fazal

In [67]:
table=int(input("enter number"))
for i in range(1,11):
    print(table,"x",i,"=",table*i)

enter number2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [69]:
for i in range(2,6):
    print("#############")
    for j in range(1,11):
        print(i,"x",j,"=",i*j)

#############
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
#############
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
#############
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
#############
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# Dictionaries

In [71]:
dic={'name':'hamza','age':23,'gender':'male'}  #{key:value}

In [72]:
dic

{'name': 'hamza', 'age': 23, 'gender': 'male'}

In [73]:
dic['name']

'hamza'

In [74]:
dic['gender']

'male'

In [75]:
dic2={'name':["asd","saad","fahad","hassan"],'degree':['a','b']} #list in dictionary

In [76]:
dic2

{'name': ['asd', 'saad', 'fahad', 'hassan'], 'degree': ['a', 'b']}

In [77]:
# dictionary in list
listing=[11,22,dic2]

In [78]:
listing

[11, 22, {'name': ['asd', 'saad', 'fahad', 'hassan'], 'degree': ['a', 'b']}]

In [79]:
#A dictionary in dictionary
udic={1:'apple',2:{'time':"2pm",'day':'monday'}}

In [80]:
udic

{1: 'apple', 2: {'time': '2pm', 'day': 'monday'}}

In [81]:
dic={'name':'hamza','age':23,'gender':'male','qua':'abc'}
for key in dic.keys():
    print(key)

name
age
gender
qua

In [82]:
for val in dic.values():
    print(val)

hamza
23
male
abc

In [86]:
for k,v in dic.items():
    print(k,v)

name hamza
age 23
gender male
qua abc

In [89]:
for key in dic.keys():   # print the values
    print(dic[key])

hamza
23
male
abc

In [90]:
dic['address']='azizabad'   #insert new key and value

In [91]:
dic

{'name': 'hamza',
 'age': 23,
 'gender': 'male',
 'qua': 'abc',
 'address': 'azizabad'}

In [93]:
dic.pop('address')
dic

{'name': 'hamza', 'age': 23, 'gender': 'male', 'qua': 'abc'}

In [94]:
eklist=[{'a':'karachi','b':'lahore'},{1:112,2:233},dic]

In [96]:
eklist

[{'a': 'karachi', 'b': 'lahore'},
 {1: 112, 2: 233},
 {'name': 'hamza', 'age': 23, 'gender': 'male', 'qua': 'abc'}]

In [97]:
len(eklist)

3

In [98]:
eklist[2]['qua']   #search by index and key in list

'abc'

In [99]:
del eklist[2]['qua']  # delete the index

In [100]:
eklist

[{'a': 'karachi', 'b': 'lahore'},
 {1: 112, 2: 233},
 {'name': 'hamza', 'age': 23, 'gender': 'male'}]